<section class="blog-slider">
  <div class="container">
    <div class="swiper blog-slider__slider">
      <div class="blog-slider__slider-btns">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M25.0001 13.3333L31.6667 19.9999L25.0001 26.6666M15.0001 26.6666L8.33341 19.9999L15.0001 13.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper blog-slider__slider-wrapper">
        <div class="swiper-slide blog-slider__article">
          <img
            loading="lazy"
            class="blog-slider__article-img"
            width="515"
            height="428"
            src="./assets/image/blog-slide-1-img.jpg"
            alt="Happy woman and laptop"
          />
          <div class="blog-slider__article-head text-p-small">
            <div class="blog-slider__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog-slider__article-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="blog-slider__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog-slider__article-descr">
            In this article, we'll cover how to <br> create user flows
          </p>
        </div>
        <div class="swiper-slide blog-slider__article">
          <img
            loading="lazy"
            class="blog-slider__article-img"
            width="515"
            height="428"
            src="./assets/image/blog-slide-2-img.jpg"
            alt="Two woman and laptop"
          />
          <div class="blog-slider__article-head text-p-small">
            <div class="blog-slider__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog-slider__article-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="blog-slider__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="blog-slider__article-descr">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide blog-slider__article">
          <img
            loading="lazy"
            class="blog-slider__article-img"
            width="515"
            height="428"
            src="./assets/image/blog-slide-2-img.jpg"
            alt="Two woman and laptop"
          />
          <div class="blog-slider__article-head text-p-small">
            <div class="blog-slider__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog-slider__article-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="blog-slider__article-title heading-h5">
            Using Grid in website <br> design
          </h3>
          <p class="blog-slider__article-descr">
            Andi: "What's the grid like?" Toni:<br> “Like below…”
          </p>
        </div>
        <div class="swiper-slide blog-slider__article">
          <img
            loading="lazy"
            class="blog-slider__article-img"
            width="515"
            height="428"
            src="./assets/image/blog-slide-1-img.jpg"
            alt="Happy woman and laptop"
          />
          <div class="blog-slider__article-head text-p-small">
            <div class="blog-slider__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog-slider__article-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="blog-slider__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog-slider__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
      </div>
    </div>
  </div>
</section>