<section class="blog-content">
  <div class="container">
    <ul class="blog-content__list">
      <li class="blog-content__item">
        <img
          loading="lazy"
          class="blog-content__item-img"
          width="584"
          height="751"
          src="./assets/image/blog-content-card-1-img.jpg"
          alt="Laptop on table"
        />
        <a class="blog-content__item-title heading-h3" href="#">
          <h3>How we perform long-running tasks using AWS services</h3>
        </a>
        <p class="blog-content__item-descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="blog-content__item">
        <img
          loading="lazy"
          class="blog-content__item-img"
          width="584"
          height="507"
          src="./assets/image/blog-content-card-2-img.jpg"
          alt="Three man"
        />
        <a class="blog-content__item-title heading-h3" href="#">
          <h3>How to ask when doing User Research</h3>
        </a>
        <p class="blog-content__item-descr text-p-medium">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </li>
      <li class="blog-content__item">
        <img
          loading="lazy"
          class="blog-content__item-img"
          width="584"
          height="507"
          src="./assets/image/blog-content-card-3-img.jpg"
          alt="Conference with man"
        />
        <a class="blog-content__item-title heading-h3" href="#">
          <h3>Layout Exploration — Simple exercise but big effect</h3>
        </a>
        <p class="blog-content__item-descr text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </li>
      <li class="blog-content__item">
        <img
          loading="lazy"
          class="blog-content__item-img"
          width="584"
          height="751"
          src="./assets/image/blog-content-card-4-img.jpg"
          alt="Performing man"
        />
        <a class="blog-content__item-title heading-h3" href="#">
          <h3>Webflow Break the Coding Barrier</h3>
        </a>
        <p class="blog-content__item-descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
