<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <ul class="hero__nav-list text-p-default">
      <li class="hero__nav-item hero__nav-item--active">View all</li>
      <li class="hero__nav-item">Design</li>
      <li class="hero__nav-item">Articles</li>
      <li class="hero__nav-item">Product</li>
      <li class="hero__nav-item">Software Development</li>
      <li class="hero__nav-item">Customer Success</li>
    </ul>
  </div>
</section>
